* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$pxmargintop: 100px;

/* https://www.mediaevent.de/css/animation.html */



@keyframes rolling {
    from {
        transform: translate(0)
    }

    to {
        transform: translate(calc(900px - 100px))
    }
}


.container {
    margin-top: $pxmargintop;
    border-top: 1px solid lightgrey;

    .ball1 {
        border-radius: 50%;
        background-color: rgb(241, 16, 16);
        height: 100px;
        width: 100px;
        border: 1px solid black;

        animation: rolling 0.5s 1s infinite alternate ease-in-out;
    }


    .ball2 {
        border-radius: 50%;
        background-color: rgb(8, 91, 244);
        height: 100px;
        width: 100px;
        border: 1px solid black;
        animation: rolling 0.6s 1s infinite alternate ease-in-out;
    }

    .ball3 {
        border-radius: 50%;
        background-color: rgb(245, 229, 4);
        height: 100px;
        width: 100px;
        border: 1px solid black;
        animation: rolling 1.5s 1s infinite alternate ease-in-out;
    }

}